.nav .cart {
  transition: all 0.5s;
}

.nav .cart:hover {
  scale: 1.1;
}

.nav .cart .total-number {
  position: absolute;
  left: -30%;
  top: -30%;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--theme);
}

.cart::-webkit-scrollbar {
  width: 8px;
}

.cart::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.cart::-webkit-scrollbar-thumb {
  @apply bg-zinc-300;
}

.cart::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-400 cursor-pointer;
}
